/* Estilização do header ====================================================== */

header {
    background-color: #ffc125;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

header a{
    text-decoration: none;
    color: #D40D3D;
    font-size: 1.5rem;
    font-weight: 500;
    transition: .3s;
}

header a:hover {
    color: #fff;
}

.logo img {
    display: flex;
    align-items: center;
    width: 120px;
}

/* Estilização do menu ================================================== */

.menu-left {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    background-color: #D40D3D;
}

.menu-left ul {
    list-style: none;
    padding: 50px 0;
  
}

.menu-left ul li {
    margin-bottom: 10px ;
    padding: 15px;
    position: relative;
    cursor: pointer;
}

.menu-left ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
    overflow: hidden;
    height: 30px;
}

.menu-left ul li a span {
    width: 100%;
    height: 100%;
    display: block;
    transition: .3s;
}

.menu-left ul li:hover span:nth-child(1) {
    transform: translateY(-100%);
}

.menu-left ul li:hover span:nth-child(2) {
    color: #ffb800;
    transform: translateY(-100%);
}

/* Esilização do footer ===================================================================== */

footer {
    grid-row: 3;
    grid-column: 1/-1;
    width: 100%;
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
}